<div class="login-formulario">
    <form class="loginFormulario" [formGroup]="loginModel" (ngSubmit)="onSubmit($event)">
    <h2>Inicio de sesión</h2>

    @if (errorMessage()) {
        <div class="error-banner">
        {{ errorMessage() }}
        </div>
    }

    <div>
        <label for="email">Email</label>
        <input type="text" id="email" formControlName="email" placeholder="usuario@gmail.com">
        
        @if (loginModel.controls.email.touched && loginModel.controls.email.invalid) {
        <small class="texto-error">Ingresa un correo electrónico válido.</small>
        }
    </div>

    <div>
        <label for="password">Password</label>
        <input type="password" id="password" formControlName="password" placeholder="••••••••">
        
        @if (loginModel.controls.password.touched && loginModel.controls.password.invalid) {
        <small class="texto-error">La contraseña no cumple con el formato requerido.</small>
        }
    </div>

    <button type="submit" [disabled]="!loginModel.valid">Ingresar</button>
    <button type="reset" (click)="errorMessage.set(null)">Limpiar</button>
</form>

    <hr class="divisor" />

    <p class="texto-pregunta">¿No tenes cuenta aún?</p>
    <a routerLink="/registro">Registrate</a>
</div>